body {
    margin: 0;
    padding: 0;
}

.stroika .back-page1 {
    position: absolute;
    top: 80px;
    left: 630px;
}

.stroika p {
    float: left;
    font-size: 3em;
    font-weight: bold;
    margin-left: 300px;
    margin-top: 230px;
    text-align: center;
    font-family: "Limelight", cursive;
    color: rgb(233, 243, 145);
    text-shadow: 1px 1px 0 rgb(255, 0, 0), -1px 1px 0 rgb(30, 255, 0), 1px -1px 0 rgb(25, 0, 255), -1px -1px 0 rgb(255, 0, 234);
}